.container {
  display: flex;
  align-items: center;
  
}

.button-back img {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 5;
  
}
.container-rest {
  display: flex;
  align-self: center;
  width: 100%;
  height: auto;
}
.url-cover {
  width: 100%;
  border-radius: 4px;
  opacity: 80%;
  height: 100vh;
}
.card-info {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 100vh;
  padding-left: 50px;
  padding-right: 100px;
}
.card-info img {
  width: 200px;
  height: 200px;
  border-radius:4px;
}
.description,
.menu-container {
  display: flex;
  justify-content: center;
  width: 30%;
  border-radius: 4px;
  box-shadow: 0px 10px 13px -7px #000000, 7px 7px 10px 11px rgba(0, 0, 0, 0.13);
  background-color: #ffffffda;
  padding: 40px 20px;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height:70vh;
  overflow: auto;
}
.menu-container{
  width: 40%;
}

.menu-container img {
  width: 70px;
  height: 60px;
}
.menu-container button {
  width: 100%;
  height: 48px;
  border-radius: 4px;
  border: none;
  background-color: #ffff;
  font-size: 18px;
  font-weight: 600;
  color: #dc5f20;
  cursor: pointer;
  border: 2px solid #dc5f20;
  
}
.menu-container button:hover{
  color: #fff;
  background-color:#dc5f20 ;
}
.menu {
  display: flex;
  align-items: center;
  width: 100%;
}
.menu-item {
  display: flex;
  justify-content: start;
  padding: 20px;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 30px;
  border: 1px solid #b5b1b1;
}
.description-product{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.description-product h3{
  font-weight: 800;
}
.price{
  width: 160px;
  color:#f7c755
}

.scroll {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 350px;
  overflow: auto;
  width: 100%;
  padding: 0px 5px 5px 5px;
}
.extra{
  position: relative;
  right: 17%;
}

.no-recipe-registered {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}