.container-product{
    position: fixed;
    top:0;
    right: 0;
    height: 100vh;
    background-color: #f7f8fa;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.add-extra {
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.add-extra p {
    display: flex;
    align-items: center;
}
.add-extra button{
    position: relative;
    left: 3px;
    cursor: pointer;
    border-radius: 50%;
    border:solid 1px #dadada;
    
}
.container-product h2{
    margin-top: 15px;
    margin-bottom: 15px;
}

.container--form{
    width: 65%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}

.container--input{
    width: 100%;  
}

.container--input Input,.container--form textarea,.extras{
    border: 1.5px solid #ea1d2c;
    width: 100%;
    height: 48px;
    font-size: 16px;
    padding-left: 10px;
}
.container--form textarea{
    padding-top: 10px;
}

.button--register--item ,.close-modal button{
    
    height: 35px;
    border-radius: 3px;
    text-decoration: none;
    padding: 5px 10px 8px 10px;
    border-radius: 5px;
    color: #fff;
    background-color: #ea1d2c;
    border: none;
    cursor: pointer;
}
.card-extra{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    
}
.button--register--item{
    width: 100%;
}

.button--register--item:hover{
    animation-name: color-click;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.close-modal button{
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    border-radius: 0;
    height: 40px;
  
}

@keyframes color-click {
    100% {
        background-color: #ff0000;
    }
}
