header {
    position: fixed;
    z-index: 999;
    top: 0px;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: transparent;
    transition: all ease 0.5s;
}

header.gray {
    background-color: #f7f8fa;
}

.header--logo {
    height: 25px;
    cursor: pointer;
}

.header--logo img {
    height: 100%;
}

#run{
    position: relative;
    left: 20%;
    animation-name: runner;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes runner{
    10% {
        left: 80%;
        transition: all ease 0.5s;
        opacity: 0.3;
    }
}
.header--button {
    height: 35px;
    border-radius: 3px;
}

.header--button button {
    text-decoration: none;
    padding: 5px 10px 8px 10px;
    border-radius: 5px;
    color: #fff;
    background-color: #ea1d2c;
    border: none;
    cursor: pointer;
}

.header--button button:hover {
    animation-name: color-click;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    
}

@keyframes color-click {
    100% {
        background-color: #ff0000;
    }
}